.sidebar {
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input {
    padding: 1vh 1vw;
    border-radius: 2vw;
    border-width: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.sidebar-category {
    background-color: rgb(247, 247, 247);
    border-width: 0;
    border-radius: 1vw;
    margin: 0.25vh 0vw;
    text-align: normal;

    transition: background-color 0.2s ease-in-out;
}

.sidebar-category:hover {
    background-color: rgb(215, 215, 215);
}

#sidebar-search {
    width: 100%;
}

.sidebar {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}
.sidebar::-webkit-scrollbar {
width: 0;
}
.sidebar::-webkit-scrollbar-thumb {
background-color: transparent;
}
.sidebar::-webkit-scrollbar-track {
background-color: transparent;
}