.sidebar {
    background-color: rgb(48, 48, 48);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input {
    padding: 1vh 1vw;
    border-radius: 2vw;
    border-width: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.sidebar-category {
    background-color: rgb(66, 66, 66);
    color: white;
    border-width: 0;
    border-radius: 1vw;
    margin: 0.25vh 0vw;
    text-align: normal;

    transition: background-color 0.2s ease-in-out;
}

.sidebar-category.active {
    background-color: rgb(104, 104, 104);
}

.sidebar-category:hover {
    background-color: rgb(104, 104, 104);
}

#sidebar-search {
    width: 100%;
}

.sidebar {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}
.sidebar::-webkit-scrollbar {
width: 0;
}
.sidebar::-webkit-scrollbar-thumb {
background-color: transparent;
}
.sidebar::-webkit-scrollbar-track {
background-color: transparent;
}

.loading-spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid rgb(182, 155, 35);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}