.service-page {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    padding: 2vh 2vw;
}

.service-page-details {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(48, 48, 48);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    padding: 2vh 2vw 3vh 2vw;
    width: 100%;
}

.service-page-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;

    background-color: rgb(48, 48, 48);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    padding: 2vh 2vw 3vh 2vw;
    width: 100%;
}

select {
    border-width: 0;
    border-radius: 1vw;
    background-color: white;
    padding: 1vh 1vw;
}

#review-text {
    width: 100%;
}