img {
    object-fit: cover;
    width: 85%;
    border-radius: 2vw;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;

    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

img:hover {
    opacity: 0.75;
}

.service-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-preview-rating {
    background-color: rgb(68, 148, 197);
    color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 0 1vw;
    border-radius: 1vw;
}

/* MOBILE DEVICES */
@media (max-width: 768px) {
    .service-preview-rating {
        font-size: 0.5rem !important;
    }
}